<ion-view title="Home">

  <ion-nav-buttons side="right">
      <mc-sync-spinner></mc-sync-spinner>
  </ion-nav-buttons>

	<ion-content padding="true" ng-controller="HomeCtrl">

    <div class="list card">

      <div class="item item-divider">
        Media Capture
      </div>

      <a ng-click="captureAudio()" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Capture Audio
      </a>

      <a ng-click="captureImage()" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Capture Image
      </a>

      <a ng-click="captureVideo()" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Capture Video
      </a>

      <input class="bottom-marg-15" type="file" name="file" file="file">
      <button class="button button-small button-full button-positive" ng-disabled="file.size&amp;&amp;false || uploadProgress&gt;0" ng-click="upload()" ng-cloak="">Upload</button>
		  <a ng-href="{{uploadUri}}" ng-bind="uploadUri"></a>

    </div>

  </ion-content>
</ion-view>